/* Common to all pages */

section {
    width: 90vw;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    align-items: center;
}

a {
    text-decoration: none;
    text-decoration: dashed;
    color: black;
}

/* dashboard.php */

#greeting {
    border-bottom-style: solid;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}

.reqTable,
.filter-table {
    width: 100%;
}

.reqTable-data,
.reqTable-headItem,
.filter-item {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    padding: 10px;
}

.reqTable-headItem {
    text-align: center;
}

.reqTable-heading {
    background-color: lightseagreen;
}
.reqTable-approved {
    background-color: lightgreen;
}
.reqTable-declined {
    background-color: lightcoral;
}
.reqTable-pending {
    background-color: rgb(252, 252, 141);
}
.reqTable-moreInfo {
    background-color: lightsalmon;
}

/* view.php */

section.discussion {
    border-style: solid;
}

div.separator {
    padding-top: 10px;
    border-bottom-style: solid;
}

.disc-heading {
    border-bottom-style: dashed;
    padding-top: 20px;
}

.postBody {
    padding-bottom: 20px;
}

/* profile.php */

.head-name {
    border-bottom-style: solid;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}

/* header on all pages */

header {
    overflow: hidden;
    padding: 20px 10px;
    margin: 0px;
    border-bottom-style: solid;
}

header a {
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header table {
    margin-left: auto;
    margin-right: auto;
}

header a:hover {
    background-color: lightsalmon;
    color: black;
}

header a.active {
    background-color: blue;
    color: white;
}

/*tha*/