/* Common to all pages */

section {
    width: 90vw;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(54, 51, 51);
    align-items: center;
}

a {
    text-decoration: none;
    text-decoration: dashed;
    color: rgb(114, 176, 226);
}

/*===============================================================================================*/
/*Body*/
body {
    background: rgb(54, 51, 51);
    color: rgb(248, 248, 248);
}

/*===============================================================================================*/
/* dashboard.php */

#greeting {
    border-bottom-style: solid;
    border-color: white;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    align-items: center;
    text-align: center;
    color: red;
    border-color: white;
}

.requests a:hover {
    color: red;
}

.reqTable td,
.reqTable td a {
    color: black;
}

.reqTable,
.filter-table {
    width: 100%;
}

.reqTable-data,
.reqTable-headItem,
.filter-item {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    padding: 10px;
}

.reqTable-headItem {
    text-align: center;
}

.reqTable-heading {
    background-color: lightseagreen;
}
.reqTable-approved {
    background-color: lightgreen;
}
.reqTable-declined {
    background-color: lightcoral;
}
.reqTable-pending {
    background-color: rgb(252, 252, 141);
}
.reqTable-moreInfo {
    background-color: lightsalmon;
}
/*===============================================================================================*/
/* view.php */

section.discussion {
    border-style: solid;
}

div.separator {
    padding-top: 10px;
    border-bottom-style: solid;
}

.disc-heading {
    border-bottom-style: dashed;
    padding-top: 20px;
}

.postBody {
    padding-bottom: 20px;
}

.reply{
    color : #cdd047;
    margin-left: 50px;

/*===============================================================================================*/
/* profile.php */

.head-name {
    border-bottom-style: dotted;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
}

.userData {
    font-size: x-large;
    color: #e8ae5f;
    border: 1px solid #a3ce4f;
    border-style: dotted;
    border-radius: 20px;
    width: 90%;
}

.userData td {
    color: #82bef3;
}

/*===============================================================================================*/
/* header on all pages */

header {
    overflow: hidden;
    padding: 20px 10px;
    margin: 0px;
    border-bottom-style: solid;
}

header a {
    color: rgb(243, 220, 9);
    text-align: center;
    padding: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header table {
    margin-left: auto;
    margin-right: auto;
}

header a:hover {
    background-color: rgb(101, 109, 114);
    color: rgb(216, 106, 16);
}

header a.active {
    background-color: rgb(60, 60, 94);
    color: white;
}

/*fmksdlfnlstha*/
